.container {
    height: 60vh;
    background-color: greenyellow;
    display: flex;
    /* flex-direction: row-reverse; */
    flex-wrap: nowrap;
    /* justify-content: space-between;  */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    /* gap: 10px; */
    align-content: space-evenly;
}

.el {
    width: 100px;
    height: 100px;
    background-color: pink;
    border: 2px solid black;
    font-size: 2rem;
}

.el-1 {
    /* order: 3; */
    flex-grow: 1;
}

.el-2 {
    /* order: 5; */
    flex-grow: 4;
}
.el-3 {
    /* order: 1; */
    flex-grow: 1;
}
