.container {
    border: 2px solid black;
    display: grid;
    /* grid-template-columns: repeat(5, 100px) 200px 300px; */
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(4, 100px);
    grid-template-areas:
    "box1 box1 box1 box2 box3"
    "box1 box1 box1 box2 box3"
    "box1 box1 box1 box4 box4"
    "box5 box5 box5 box5 box5"
    ;
}

.child {
    background-color: yellow;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.child-1 {
    grid-area: box1;
}
.child-2 {
    grid-area: box2;
}
.child-3 {
    grid-area: box3;
}
.child-4 {
    grid-area: box4;
}
.child-5 {
    grid-area: box5;
}