.container {
    border: 2px solid black;
    display: grid;
    /* grid-template-columns: 400px 400px 400px; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    
}

.child {
    background-color: yellowgreen;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}